---
---

<button id="themeToggle">
  <svg width="25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path class="sun" fill-rule="evenodd" d="M12 17.5a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm0 1.5a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm12-7a.8.8 0 0 1-.8.8h-2.4a.8.8 0 0 1 0-1.6h2.4a.8.8 0 0 1 .8.8zM4 12a.8.8 0 0 1-.8.8H.8a.8.8 0 0 1 0-1.6h2.5a.8.8 0 0 1 .8.8zm16.5-8.5a.8.8 0 0 1 0 1l-1.8 1.8a.8.8 0 0 1-1-1l1.7-1.8a.8.8 0 0 1 1 0zM6.3 17.7a.8.8 0 0 1 0 1l-1.7 1.8a.8.8 0 1 1-1-1l1.7-1.8a.8.8 0 0 1 1 0zM12 0a.8.8 0 0 1 .8.8v2.5a.8.8 0 0 1-1.6 0V.8A.8.8 0 0 1 12 0zm0 20a.8.8 0 0 1 .8.8v2.4a.8.8 0 0 1-1.6 0v-2.4a.8.8 0 0 1 .8-.8zM3.5 3.5a.8.8 0 0 1 1 0l1.8 1.8a.8.8 0 1 1-1 1L3.5 4.6a.8.8 0 0 1 0-1zm14.2 14.2a.8.8 0 0 1 1 0l1.8 1.7a.8.8 0 0 1-1 1l-1.8-1.7a.8.8 0 0 1 0-1z"/>
    <path class="moon" fill-rule="evenodd" d="M16.5 6A10.5 10.5 0 0 1 4.7 16.4 8.5 8.5 0 1 0 16.4 4.7l.1 1.3zm-1.7-2a9 9 0 0 1 .2 2 9 9 0 0 1-11 8.8 9.4 9.4 0 0 1-.8-.3c-.4 0-.8.3-.7.7a10 10 0 0 0 .3.8 10 10 0 0 0 9.2 6 10 10 0 0 0 4-19.2 9.7 9.7 0 0 0-.9-.3c-.3-.1-.7.3-.6.7a9 9 0 0 1 .3.8z"/>
  </svg>
</button>
  
  <style is:global>
  /* --------------------
  layout.astro
  -------------------- */
  :root.darkmode {
    --bg: #272e3a;
    --fg: #ddd;
    --accents-1: #8fa5be;
    --accents-2: #f26000;
    --accents-3: #a5a5a5;;
  }
  .darkmode .header h1 {
    color: var(--fg);
  }
  
  .darkmode aside {
    background: #1f2530;
    color: var(--fg);
  }
  
  
  /* --------------------
  pages/index.astro
  -------------------- */
  .darkmode .read-more-link a {
    color: var(--fg);
  }
  /* --------------------
  posts/[slug].astro
  -------------------- */
  .darkmode .content h1 {
    color: var(--fg);
  }
  
  /* --------------------
  NoContents.astro
  -------------------- */
  .darkmode .no-contents {
    color: var(--accents-3);
  }
  
  /* --------------------
  Pagination.astro
  -------------------- */
  .darkmode .pagination a{
    background: #333;
  }
  .darkmode .pagination a:hover:not(.inactive) {
    background: #667c97;
  }
  .darkmode .pagination a.inactive {
    color: #f7f7f7;
    background: #313b4d;
  }
  /* --------------------
  Bookmark.astro
  -------------------- */
  .darkmode .bookmark {
    background: #373e5c;
  }
  
  /* --------------------
  BulletedListItems.astro
  -------------------- */
  .darkmode li {
    color: var(--fg);
  }
  
  /* --------------------
  Callout.astro
  -------------------- */
  .darkmode .callout.gray-background {
    background: #424242 !important;
  }
  
  /* --------------------
  Code.astro
  -------------------- */
  .darkmode .code pre {
    background: #272727 !important;
  }
  .darkmode .code pre code {
    color: var(--fg);
    background: #272727 !important;
  }
  .darkmode code {
    background: #2F2F2D;
  }
  
  .darkmode .code > div {
    background: #272727;
  }
  
  .darkmode .code button.copy {
    background-color: rgba(227,226,224,0.2);
  }
  
  /* --------------------
  Caption.astro
  -------------------- */
  .darkmode .caption {
    background: var(--bg) !important;
  }
  
  /* --------------------
  Paragraph.astro
  -------------------- */
  .darkmode p {
    color: var(--fg);
  }
  
  /* --------------------
  SyncedBlock.astro
  -------------------- */
  .darkmode .callout.blue-background {
    background: #1D282E !important;
  }
  
  /* --------------------
  Table.astro
  -------------------- */
  .darkmode table {
    color: var(--fg);
  }
  .darkmode table th {
    background: #272727;
    border-color: #272727;
  }
  .darkmode table td {
    border-color: #272727;
  }
  
  /* --------------------
  TableOfContents.astro
  -------------------- */
  .darkmode .table-of-contents > a {
    color: #9B9B9B;
  }
  .darkmode .table-of-contents > a:hover {
    background: rgba(241, 241, 239, 0.1) !important;
  }
  
  /* --------------------
  ToDo.astro
  -------------------- */
  .darkmode .to-do {
    color: var(--fg);
  }
  
  /* --------------------
  PostRelativeLink.astro
  -------------------- */
  .darkmode div.post-relative-link > div > a.colored  {
    background: rgba(227, 226, 224, 0.1);
  }
  
  .darkmode div.post-relative-link > div a:hover {
    background: #667c97;
  }

  /* --------------------
  notion-color.css
  -------------------- */
  .darkmode .tag.default {
    background: #3f3f3f !important;
    color: #f7f7f7 !important;
  }
  .darkmode .tag.gray,
  .darkmode .gray-background {
    background: #707070 !important;
    color: #f7f7f7 !important;
  }
  .darkmode .tag.brown,
  .darkmode .brown-background {
    background: #925a43 !important;
    color: #f7f7f7 !important;
  }
  .darkmode .tag.orange,
  .darkmode .orange-background {
    background: #b56829 !important;
    color: #f7f7f7 !important;
  }
  .darkmode .tag.yellow,
  .darkmode .yellow-background {
    background: #c6903e !important;
    color: #f7f7f7 !important;
  }
  .darkmode .tag.green,
  .darkmode .green-background {
    background: #478f67 !important;
    color: #f7f7f7 !important;
  }
  .darkmode .tag.blue,
  .darkmode .blue-background {
    background: #4d82c8 !important;
    color: #f7f7f7 !important;
  }
  .darkmode .tag.purple,
  .darkmode .purple-background {
    background: #784fa4 !important;
    color: #f7f7f7 !important;
  }
  .darkmode .tag.pink,
  .darkmode .pink-background {
    background: #ac567e !important;
    color: #f7f7f7 !important;
  }
  .darkmode .tag.red,
  .darkmode .red-background {
    background: #ba5c51 !important;
    color: #f7f7f7 !important;
  }

  .darkmode .blog-posts-link ul li a:hover {
    background-color: #667c97 !important;
  }


  /* --------------------
  ダークモードトグル
  -------------------- */
  #themeToggle {
      border: 0;
      background: none;
      padding: 0.1rem 0.3rem 0 1rem;
    }
    .sun { fill: #333; }
    .moon { fill: transparent; }
  
    .darkmode .sun { fill: transparent; }
    .darkmode .moon { fill: #ddd; }
  </style>
  
  <script is:inline>
    const theme = (() => {
      if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        return localStorage.getItem('theme');
      }
      if (window.matchMedia('(prefers-color-scheme: darkmode)').matches) {
        return 'darkmode';
      }
        return 'light';
    })();
  
    if (theme === 'light') {
      document.documentElement.classList.remove('darkmode');
    } else {
      document.documentElement.classList.add('darkmode');
    }
  
    window.localStorage.setItem('theme', theme);
  
    const handleToggleClick = () => {
      const element = document.documentElement;
      element.classList.toggle("darkmode");
  
      const isDark = element.classList.contains("darkmode");
      localStorage.setItem("theme", isDark ? "darkmode" : "light");
    }
  
    document.getElementById("themeToggle").addEventListener("click", handleToggleClick);
  </script>